!!!

%html
  %head
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "https://maps.google.com/maps/api/js?sensor=true" }
    %script{ :type => "text/javascript", :src => "/javascripts/gmaps.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/b.js" }
    :css
      .left { float: left; }
      .clear { clear: both; }
  %body
    %h1 Bisect Map
    .left
      From:
      %input#origin{ :value => "32.710719, -117.167945", :size => "30" }
    .left
      To:
      %input#destin{ :value => "37.789828, -122.402072", :size => "30" }
    .clear
    .left
      Max Distance (miles):
      %input#dist{ :value => "20", :size => "30" }
    .left
      Min Population:
      %input#pop{ :value => "100000", :size => "30" }
    .clear
    .left
      Approximate Progress:
      .progress
        %input#progress25{ :value => "25", :name => "progress", :type => "radio" }
        %label{ :for => 'progress25' } 25%
      .progress
        %input#progress50{ :value => "50", :name => "progress", :type => "radio", :checked => 'true' }
        %label{ :for => 'progress50' } 50%
      .progress
        %input#progress75{ :value => "75", :name => "progress", :type => "radio" }
        %label{ :for => 'progress75' } 75%
    .clear
    %input#submit{ :value => "go!", :type => "button" }
    .clear
    #map.left{ :style => 'width:500px;height:500px;' }
    #instructions.left
    .clear
