!!!

%html
  %head
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/bootstrap.min.js" }
    %script{ :type => "text/javascript", :src => "https://maps.google.com/maps/api/js?sensor=true" }
    %script{ :type => "text/javascript", :src => "/javascripts/gmaps.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/b.js" }
    :css
      .left { float: left; }
      .clear { clear: both; }
      .field { border: 1px dotted blue;padding:20px;}
      #map img { max-width: none; }
  %body
    .hero-unit
      %h1 Bisect Map
      %p
        A
        %a{ :href => 'http://hpneo.github.com/gmaps/' } gmaps.js
        experiment by
        %a{ :href => 'http://hc5duke.com' } @hc5duke
    .row
      .span6
        %form.form-horizontal
          %fieldset
            .control-group
              %label.control-label{ :for => 'origin' } From:
              .controls
                %input#origin.input-xlarge{ :value => "32.710719, -117.167945", 'data-content' => "Currently only works with cities in California", 'data-original-title' => "Note" }
                %br
                %a{:href => 'javascript:setLatLong("san francisco", "origin");'} SF
                %a{:href => 'javascript:setLatLong("san jose", "origin");'} SJ
                %a{:href => 'javascript:setLatLong("los angeles", "origin");'} LA
                %a{:href => 'javascript:setLatLong("san diego", "origin");'} SD
                %a{:href => 'javascript:setLatLong("sacramento", "origin");'} Sac
                %a{:href => 'javascript:setLatLong("fresno", "origin");'} Fr
                %a{:href => 'javascript:setLatLong("oakland", "origin");'} Oak
            .control-group
              %label.control-label{ :for => 'destin' } To:
              .controls
                %input#destin.input-xlarge{ :value => "37.789828, -122.402072", 'data-content' => "Currently only works with cities in California", 'data-original-title' => "Note" }
                %br
                %a{:href => 'javascript:setLatLong("san francisco", "destin");'} SF
                %a{:href => 'javascript:setLatLong("san jose", "destin");'} SJ
                %a{:href => 'javascript:setLatLong("los angeles", "destin");'} LA
                %a{:href => 'javascript:setLatLong("san diego", "destin");'} SD
                %a{:href => 'javascript:setLatLong("sacramento", "destin");'} Sac
                %a{:href => 'javascript:setLatLong("fresno", "destin");'} Fr
                %a{:href => 'javascript:setLatLong("oakland", "destin");'} Oak
            .control-group
              %label.control-label{ :for => 'dist' }
                Max. Distance (miles):
              .controls
                %input#dist.input-xlarge{ :value => "20", 'data-content' => "Distances are a bit buggy right now.", 'data-original-title' => "Note" }
            .control-group
              %label.control-label{ :for => 'pop' } Min. Population:
              .controls
                %input#pop.input-xlarge{ :value => "50000" }
            .control-group
              %label.control-label{ :for => 'progress' } Approx. Progress
              .controls
                %label.radio.inline{ :for => 'progress25' }
                  %input#progress25{ :value => "25", :name => "progress", :type => "radio" }
                  25%
                %label.radio.inline{ :for => 'progress50' }
                  %input#progress50{ :value => "50", :name => "progress", :type => "radio", :checked => true }
                  50%
                %label.radio.inline{ :for => 'progress75' }
                  %input#progress75{ :value => "75", :name => "progress", :type => "radio" }
                  75%
          .form-actions
            %input#submit.btn.btn-large.btn-primary{ :value => "Go! Go! Go!", :type => "button" }
        #instructions.left
          %i Stuff will go here
      .span6
        #map{ :style => 'width:100%;height:500px;' }
